<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{information?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/','edit-movie',information?.id]" *ngIf="information"><ion-icon danger name="cog-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-img class="poster" [src]="information?.poster" (ionError)="this.updateSrc()"  ></ion-img>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text color="dark">
            <h1 class="movie-title">{{information?.title}}</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col color="dark" class="ion-text-center">
          <h4 >{{information?.year}}</h4>
        </ion-col>
      </ion-row>
      <ion-row class="genre-container">
        <ion-col color="light" class="ion-text-center" *ngFor="let genre of genres" >
          <div class="genre-capsule">
            <p>
              {{genre}}
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-item color="light" lines="none" class="item-box">
            <ion-icon slot="start" name="star" class="star"></ion-icon> 
            <ion-label>
              Score: {{information?.score}}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="openWebsite()">Go to website</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>

      </ion-row>
    </ion-card-content>
  </ion-card>

  
</ion-content>
