.poster{
    border-radius: 10px !important;
    width: 12em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    object-fit:cover;
    -webkit-box-shadow: 2px 6px 38px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 38px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 38px -6px rgba(0,0,0,0.75);
}

.genre-container{
    margin-top: 8px;
}

.genre-capsule{
    background:var(--ion-color-light);
    color:var(--ion-text-color);
    padding-top:4px;
    padding-bottom:4px;
    border-radius: 10px;
}

.movie-title{
    //color:black;
    text-align: center;;
    font-size: 2em;
    font-weight: bolder !important;
}

.trash{
    border: solid 1px;
    border-radius: 15px;
    --color: #eb445a;
    --background: transparent;
}

.item-box{
    color:black;
    //background: #f3f3f3;
    border-radius: 10px;
    margin: 10px;
    padding-top: 10px 0;
    padding-bottom: 10px 0;
}

.star{
    width: 15px;
    color:#efb810;
}
.score{
    text-align: center;
}
